@charset "utf-8";
/* CSS Document */


/* LAYOUT */

body{

	font-family: 'Open Sans', sans-serif;
	margin:auto;

	height:100%;
    min-height:900px;
}

#nbl_MainContainer{
}

#nbl_Header{
}

#nbl_Content{
}

#nbl_Footer{
}

/* CONTENEDORES */

.nbl_Container{
	text-align:center;
}

.headerCont{
	background: #93cede;
	background: -moz-linear-gradient(top,  #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	background: -webkit-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
	background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
}

/* TEXTOS */

.nbl_logo{

	font-size:200px;
	color:#06C;
	font-family: 'Jura', sans-serif;
	margin:auto;
	text-shadow:#e0e0e0 1px 1px 0;

}

.nbl_WhiteText{
	color:#FFF;
	font-size:20px;
	margin:auto;
	padding-bottom:15px;
}

.nbl_Advise{
	background-color:#666;
	padding:15px;
	color:#CCC;
	margin:auto;
	-webkit-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
	-moz-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
	box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
}

/* NUEVAS CLASES */

.contenContainer{
	background:url(../img/bg1.png);
	height:100%;
    min-height:500px;
}

.contenedorMenu{
	width: 910px;
 	margin: 20 auto;
	-webkit-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
	-moz-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
	box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.63);
}

.contenedorMenu ul{
	margin:auto;
	list-style: none;
	background:#666;
	overflow:auto;
	padding-left:0px;
}

.contenedorMenu ul li a{
	float:left;
	width: 150px;
	text-align:center;
	display:block;
	padding:15px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	color:#CCC;
	font-family: 'Jura', sans-serif;
	text-decoration:none;
}